
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 50px;
    background-color: #f8b5e4;

}

.text {
    display: inline-block;
    color: black;
}

.user-image-size { 
    height: 45px; 
    margin: 4px 0;
     }

.nav {
    background-color: #b3e5fc;
}

 .nav-wrapper {
    background-color: #df3791;
   
} 


 .link {
    font-size: 20px;
} 
 
#demo{
    height: 300px;
    width: 370px;
    margin: 5px 20px;
} 

#clickMeButton {
    margin-top: 30px;
    margin-bottom: 30px;
}


.modal-fixed-footer {
    background-color: transparent;
    box-shadow: none;
} 

 .modal-content {
    box-shadow: inset;
} 

.container{
    text-align: center;
}